In [2]:
#importing necessary packages
from bs4 import BeautifulSoup
import requests
import pandas as pd
import urllib3
from urllib.request import urlopen
import re
%matplotlib inline

In [3]:
states = pd.read_csv("states.csv")

In [4]:
#Setting up df for web scraping
states['URL_State1617'] = states['State'].astype(str).str.lower().str.replace(" ","-")
states['URL_State121315'] = states['State'].astype(str).str.lower().str.replace(" ","_")
states['URL_State14'] = states['State'].astype(str).str.replace(" ","_")
states.head()

        State Abbreviation URL_State1617 URL_State121315 URL_State14
0     Alabama           AL       alabama         alabama     Alabama
1      Alaska           AK        alaska          alaska      Alaska
2     Arizona           AZ       arizona         arizona     Arizona
3    Arkansas           AR      arkansas        arkansas    Arkansas
4  California           CA    california      california  California

In [5]:
#2017
base_url = 'https://ucr.fbi.gov/crime-in-the-u.s/'
pt2_url = '/crime-in-the-u.s.-'
pt3_url = '/tables/table-8/table-8-state-cuts/'

#2016
pt3_url3 = '/tables/table-6/table-6-state-cuts/'

#2015
pt3_url1 = '/tables/table-8/table-8-state-pieces/table_8_offenses_known_to_law_enforcement_'
pt4_url1 = '_by_city_'

#2014
pt3_url2 = '/tables/table-8/table-8-by-state/Table_8_Offenses_Known_to_Law_Enforcement_by_'
pt4_url2 = '_by_City_'

#2013
pt3_url3 = '/tables/table-8/table-8-state-cuts/table_8_offenses_known_to_law_enforcement_'
pt4_url3 = '_by_city_2013.xls'

#2012
pt3_url4 = '/tables/8tabledatadecpdf/table-8-state-cuts/table_8_offenses_known_to_law_enforcement_by_'
pt4_url4 = '_by_city_2012.xls'

In [6]:
for i in states['URL_State1617']:
    states.loc[states['URL_State1617']==i,'Full_URL17'] = base_url+'2017'+pt2_url+'2017'+pt3_url+i+'.xls'
    states.loc[states['URL_State1617']==i,'Full_URL16'] = base_url+'2016'+pt2_url+'2016'+pt3_url3+i+'.xls'
for i in states['URL_State121315']:
    states.loc[states['URL_State121315']==i,'Full_URL15'] = base_url+'2015'+pt2_url+'2015'+pt3_url1+i+pt4_url1+'2015.xls'
    states.loc[states['URL_State121315']==i,'Full_URL13'] = base_url+'2013'+pt2_url+'2013'+pt3_url3+i+pt4_url3
    states.loc[states['URL_State121315']==i,'Full_URL12'] = base_url+'2012'+pt2_url+'2012'+pt3_url4+i+pt4_url4
for i in states['URL_State14']:
    states.loc[states['URL_State14']==i,'Full_URL14'] = base_url+'2014'+pt2_url+'2014'+pt3_url2+i+pt4_url2+'2014.xls'
states.head()

,State,Abbreviation,URL_State1617,URL_State121315,URL_State14,Full_URL17,Full_URL16,Full_URL15,Full_URL13,Full_URL12,Full_URL14
0,Alabama,AL,alabama,alabama,Alabama,https://ucr.fbi.gov/crime-in-the-u.s/2017/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2016/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2015/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2013/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2012/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2014/crim...
1,Alaska,AK,alaska,alaska,Alaska,https://ucr.fbi.gov/crime-in-the-u.s/2017/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2016/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2015/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2013/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2012/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2014/crim...
2,Arizona,AZ,arizona,arizona,Arizona,https://ucr.fbi.gov/crime-in-the-u.s/2017/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2016/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2015/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2013/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2012/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2014/crim...
3,Arkansas,AR,arkansas,arkansas,Arkansas,https://ucr.fbi.gov/crime-in-the-u.s/2017/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2016/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2015/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2013/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2012/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2014/crim...
4,California,CA,california,california,California,https://ucr.fbi.gov/crime-in-the-u.s/2017/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2016/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2015/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2013/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2012/crim...,https://ucr.fbi.gov/crime-in-the-u.s/2014/crim...

In [7]:
#Check to make sure URL was created correctly
#print(states.loc[states['State']=='Alabama','Full_URL12'].values[0])

In [8]:
#This function scrapes the FBI UCR pages for each given year

def scraping_fbi(year, df_name):
    check = re.findall("20(.+)",str(year))[0]
    full_url_stored = 'Full_URL'+check
    failures = []
    for x in states[full_url_stored]:
        try:
            website_url1 = requests.get(x).text
            soup = BeautifulSoup(website_url1,'lxml')
            table = soup.find('table',{'class':'data'})
            #reading the table into a dataframe
            df = pd.read_html(str(table))
            table_1 = df[0]
            try:
                table_1.rename(columns={"State":"City"}, inplace = True)
            except:
                continue
            #Need to create another dataframe to allow us to get the propper state for each row
            current_state = states.loc[states[full_url_stored] == x,'State'].values[0]
            table_1['State'] = current_state
            table_1['Year'] = year
            df_name = df_name.append(table_1).fillna(0)
        except:
            failures.append(i)
    return df_name

In [9]:
years = [2017,2016,2015,2014,2013,2012]
df_total = pd.DataFrame()
for i in years:
    df_total = scraping_fbi(i,df_total)

C:\Users\ehelchen\AppData\Local\Continuum\anaconda4\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [10]:
#This allows me to start fresh if need be
df_total_test = df_total
df_total_test.describe()

,Aggravatedassault,Arson,Arson1,Arson2,Arson3,Arson4,Burglary,Forciblerape,Larceny-theft,Motorvehicletheft,...,Propertycrime,Rape,Rape(legacydefinition)2,Rape(legacydefinition)3,Rape(reviseddefinition)1,Rape(reviseddefinition)2,Rape1,Robbery,Violentcrime,Year
count,42391.000000,42391.000000,42391.000000,42391.000000,42391.000000,42391.000000,42391.000000,42391.000000,42391.000000,42391.000000,...,42391.000000,42391.0,42391.000000,42391.000000,42391.000000,42391.000000,42391.000000,42391.000000,42391.000000,42391.000000
mean,60.805336,2.670048,0.108278,0.157510,0.483593,0.008634,130.843457,1.094855,476.710481,61.238541,...,667.366446,0.0,1.006251,0.019745,3.962610,0.025619,2.099030,30.836262,99.434974,2014.249534
std,492.769246,22.093072,2.893188,4.333478,8.025838,0.503932,657.210772,12.816946,2372.097812,428.076095,...,3358.407311,0.0,12.906426,0.919559,34.296193,0.745106,28.423798,317.351200,836.022332,1.697023
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2012.000000
25%,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000,23.000000,1.000000,...,32.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2013.000000
50%,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,0.000000,85.000000,4.000000,...,115.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,10.000000,2014.000000
75%,24.000000,1.000000,0.000000,0.000000,0.000000,0.000000,72.000000,0.000000,322.000000,19.000000,...,421.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,7.000000,37.000000,2015.000000
max,31767.000000,1430.000000,306.000000,379.000000,708.000000,75.000000,23733.000000,1162.000000,117931.000000,19193.000000,...,142760.000000,0.0,1112.000000,151.000000,2244.000000,97.000000,2455.000000,20201.000000,52993.000000,2017.000000

In [11]:
#Making rape and Arson one column
def column_adder (agg_column,df_choice):
    add_list = []
    for i in df_choice.columns:
        try:
            search_term = str(agg_column)+"+."
            re.findall(search_term,i)[0]
            add_list.append(i)
        except:
            continue
    for i in add_list:
        df_choice[str(agg_column)]= df_choice[i]+df_choice[str(agg_column)]
        df_choice = df_choice.drop(columns = [i])
    return df_choice


df_total_test = column_adder('Rape',df_total_test)
df_total_test = column_adder('Arson',df_total_test)

In [12]:
#Checking Column Names to see which ones to change
df_total_test.columns

Index(['Aggravatedassault', 'Arson', 'Burglary', 'City', 'Forciblerape',
       'Larceny-theft', 'Motorvehicletheft',
       'Murder andnonnegligentmanslaughter', 'Population', 'Propertycrime',
       'Rape', 'Robbery', 'State', 'Violentcrime', 'Year'],
      dtype='object')

In [13]:
df_total_test.rename(columns={"Aggravatedassault":"Aggravated_Assault",
                              "Larceny-theft":"Larceny_Theft",
                              "Motorvehicletheft":"Motor_Vehicle_Theft",
                              "Propertycrime":"Property_Crime",
                              "Murder andnonnegligentmanslaughter":"Murder",
                              "Violentcrime":"Violent_Crime"}, inplace = True)

In [14]:
df_total_test['Rape'] = df_total_test['Rape'] + df_total_test['Forciblerape']

In [15]:
df_total_test.describe()

,Aggravated_Assault,Arson,Burglary,Forciblerape,Larceny_Theft,Motor_Vehicle_Theft,Murder,Population,Property_Crime,Rape,Robbery,Violent_Crime,Year
count,42391.000000,42391.000000,42391.000000,42391.000000,42391.000000,42391.000000,42391.000000,4.239100e+04,42391.000000,42391.000000,42391.000000,42391.000000,42391.000000
mean,60.805336,3.428063,130.843457,1.094855,476.710481,61.238541,1.242009,2.226722e+04,667.366446,8.208110,30.836262,99.434974,2014.249534
std,492.769246,23.991026,657.210772,12.816946,2372.097812,428.076095,11.091383,1.240381e+05,3358.407311,47.658558,317.351200,836.022332,1.697023
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,2012.000000
25%,2.000000,0.000000,6.000000,0.000000,23.000000,1.000000,0.000000,2.272000e+03,32.000000,0.000000,0.000000,2.000000,2013.000000
50%,6.000000,0.000000,21.000000,0.000000,85.000000,4.000000,0.000000,5.981000e+03,115.000000,1.000000,1.000000,10.000000,2014.000000
75%,24.000000,1.000000,72.000000,0.000000,322.000000,19.000000,0.000000,1.693050e+04,421.000000,5.000000,7.000000,37.000000,2015.000000
max,31767.000000,1430.000000,23733.000000,1162.000000,117931.000000,19193.000000,653.000000,8.616333e+06,142760.000000,2455.000000,20201.000000,52993.000000,2017.000000

In [18]:
df_total_test.to_csv('ucr_2012_to_2017.csv', sep=',')